
<!DOCTYPE html>
<html>
  <head>
    <title>FAST-FOOD-FAST API</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'main.css')}}">
  </head>
  <body>
    <div>
     <center><h1>Flask Restful API For ORDERING SYSTEM</h1></center>
     <h3>Usage guide</h3>
     <p>To view all the collection of users available use <code lang="html">/api/v1/orders</code></p>
     <p>To view all the detail  of a specific order use <code lang="html">/api/v1/orders/1</code></p>
     <p>To view all the collection of users available use <code lang="html">/api/v1/users</code></p>
     <p>To view all the detail  of a specific order use <code lang="html">/api/v1/users/1</code></p>
                 <h3>Thank you so much and nice time using the API</h3>
    </div>
  </body>
</html>